$color-primary:                       #00B16A;
$color-dark:                          #2c3e50;
$color-medium:                        #22313F;
$color-white:                         #FFFFFF;

$color-lightgrey:                     #f7f7f7;
$color-grey:                          #e7e7e7;
$color-darkgrey:                      #787878;
$color-error:                         #c0392b;

