@import "../../assets/scss/colors";

#sidebar-search {
  padding: 24px;
  border-bottom: 1px solid $color-grey;

  h3.title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .form-inline {
    input {
      width: calc(450px - 24px - 24px - 80px - 10px );
      height: 40px;
      background-color: $color-lightgrey;
      border-color: $color-grey;
    }

    button {
      width: 80px;
      height: 40px;
      margin-left: 5px;
    }
  }

  .form-group {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    select {
      height: 40px;
      background-color: $color-lightgrey;
      border-color: $color-grey;
    }

    &.has-error select, &.has-error input {
      border-color: $color-error;
    }
  }
}
