<div id="sidebar-search">
  <h3 class="title">What do you want to search for?</h3>

  <div class="form-group" [class.has-error]="errors.type">
    <select class="form-control" [(ngModel)]="type" (change)="validateForm();">
      <option value="" disabled selected>Select a search type</option>
      <option value="author">Author name</option>
      <option value="title">Title</option>
    </select>
  </div>

  <div class="form-inline">
    <div class="form-group" [class.has-error]="errors.query">
      <input type="text" class="form-control" placeholder="Search..."  (keyup)="validateForm();" [(ngModel)]="query">
    </div>
    <button class="btn btn-primary" (click)="formSubmit()">Search</button>
  </div>


</div>
