@import '../../../assets/scss/colors';
@import '../../../assets/scss/variables';

#sidebar-results {
  overflow-y: scroll;
  max-height: calc(100% - 189px);
}


.book {
  padding: 24px 30px;
  border-bottom: 1px solid $color-grey;

  h5.book-heading {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;

    i.fa {
      margin-right: 5px;
      margin-left: -2px;
      color: $color-primary;
    }
  }



  p.book-authors {
    margin-bottom: 0;
    font-size: 13px;

    span.book-authors-label {
      font-weight: 500;
      color: $headings-color;
    }

    a {
      font-weight: 300;
      color: $text-color;
      transition: 400ms ease;
      transition-property: color;

      &:hover {
        color: $color-primary;
      }
    }
  }

  small.book-uid {
    span {
      font-weight: 500;
      color: $headings-color;
    }

    color: $color-darkgrey;
  }

}
