@import "../../../assets/scss/colors";

#map {
  .map-container {
    width: calc(100% - 450px);
    min-width: 750px;
    float: left;
    background-color: $color-dark;
    height: 100vh;

    agm-map {
      height: 100%;
    }

  }
}
